.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid grey;
  border-radius: 2px;
  box-shadow: rgba(46, 41, 51, 0.08) 0px 1px 2px, rgba(71, 63, 79, 0.08) 0px 2px 4px;
  padding: 20px;
  transition: all .5s ease;
  &:hover {
    box-shadow: rgba(46, 41, 51, 0.08) 0px 4px 8px, rgba(71, 63, 79, 0.16) 0px 8px 16px;
    transition: all .4s ease;
    transform: translate3D(0,-1px,0) scale(1.02);
  }
  > div {
    flex: 1 0 auto;
  }
  .card-image {
    flex: 0 0 100px;
    margin-right: 10px;
    img {
      max-width: 100%;
      height: auto;
    }
  }
  .card-content {
    flex: 1;
    h2 {
      font-family: $font-family-heading;
      font-size: 1.6rem;
    }
    p {
      color: $secondary;
    }
    span {
      color: $secondary;
      font-weight: 800;
    }
  }
}
.card-lifted {
  border: 1px solid #dcdcdc;
  border-radius: 3px;
  box-shadow: 0 1px 18px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 20px;
}
