.footer-strip {
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 1px 15px rgba(50, 50, 93, 0.2);
}
.footer {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  @include media-breakpoint-up(sm) {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
  }
  
  a {
    transition: all 0.2s;
    &:hover {
      transform: scale(1.1);
      transition: all 0.2s;
    }
  }
  .footer-title {
    font-size: 1rem;
    font-family: $font-family-heading;
    margin-bottom: 10px;
    flex: 0;
    @include media-breakpoint-up(sm) {
      margin: 0;
    }
  }
  .footer-logos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    text-align: center;
    img {
      max-height: 150px;
      max-width: 150px;
    }
  }
}
