.intro {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 200px;
  padding-bottom: 100px;
  @include media-breakpoint-up(sm) {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(md) {
    padding-top: 160px;
    padding-bottom: 80px;
  }
  @include media-breakpoint-up(lg) {
    padding-top: 200px;
    padding-bottom: 100px;
  }
  h1 {
    color: $primary;
    // font-size: 2.4rem;
    // line-height: 1.2;
    font-family: $font-family-heading;
  }
  p {
    font-size: 1.1rem;
    font-weight: lighter;
    line-height: 1.4;
    color: $secondary;
  }
}
.intro-small {
  padding-top: 100px;
  padding-bottom: 30px;
}
